# Environnements & secrets
.env
.env.*
!.env.example
!.env.dist

# OS / éditeurs
.DS_Store
Thumbs.db
.idea/
.vscode/

# Dépendances / artefacts
vendor/
node_modules/
composer.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Docker
*.pid
*.seed
*.tar
**/.docker/
docker-compose.override.yml

# Cache/temp
tmp/
temp/
.cache/
*.env
